.subject_add {
    * {
        box-sizing: border-box;
    }

    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;

    .add_head {
        height: 67px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px 0 11px 40px;
    }

    .add_content {
        flex: 1;
        padding: 0 40px;
    }
}